<!--TODO: Move this to index.html for future new views??-->
<div class="container alert-container" ng-hide="errorsExist === false">

    <div id="no_user" class="alert alert-danger ">
      <strong>Warning!: </strong>{{infoMessage}}

       <!-- <span ng-show="!unauthorized"> -->
       <span ng-show="multipleErrors">
          <button style="float: right;" class="btn-xs btn-danger" ng-click="isCollapsed = !isCollapsed" >
            <span class="glyphicon"
               ng-class="{
                  'glyphicon-minus': !isCollapsed,
                  'glyphicon-plus': isCollapsed
               }"></span>
            </span>
          </button>

          <div collapse="isCollapsed">
            <div class="panel-body">
              <p ng-repeat="message in messages track by $index">
               {{message}}
              </p>
            </div>
          </div>
       </span>
    </div>




 </div>

<div id="batchFrame" class="container">

    <!-- <div class="row"> -->
      <!-- <div class="col-xs-8"> -->
        <!-- Upload File: -->
        <!-- <span file id="excel" loading="spinner"></span> --> <!--Excel file directive -->


        <!-- <span ng-show="!excelRight" tooltip="First upload the excel file" tooltip-placement="right"
          class="glyphicon glyphicon-exclamation-sign">
        </span>


        <span ng-show="excelRight && uploader.queue.length == 0" class="label label-success">Excel template uploaded correctly</span> -->

      <!-- </div> -->

      <!-- <div class="col-xs-4">
        <div class="downloadExcel">
            <a href="{{excelURL}}">Template</a>
            <span tooltip-html-unsafe="{{excelInfoText}}" tooltip-placement="left"
               id="excelInformation" class="glyphicon glyphicon-info-sign"
            ></span>
            <button type="button" class="btn btn-success" ng-click="downloadExcelFile()">
                <span class="glyphicon glyphicon-cloud-download"></span>  Excel Template
            </button>
         </div>
      </div> -->

    <!-- </div> -->

    <div class="row">
        <div class="col-xs-12">
            <span class="btn btn-default btn-file btn-sm"> <!-- Wrap input button -->
              <span class="glyphicon glyphicon-floppy-open"></span>
              Isolate File
              <input multiple ng-click="messages = [];" type="file" nv-file-select="" uploader="uploader"/>
            </span>

            <!-- <p>Queue length: {{ uploader.queue.length }}</p> -->

            <table class="table">
                <thead>
                    <tr>
                        <th width="50%">Name</th>
                        <th ng-show="uploader.isHTML5">Size</th>
                        <th ng-show="uploader.isHTML5">Progress</th>
                        <th>Status</th>
                        <!-- <th>Actions</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in uploader.queue">
                        <td><strong>{{ item.file.name }}</strong></td>
                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                        <td ng-show="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span ng-show="item.isUploading"><i class="glyphicon glyphicon-upload"></i></span>
                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                         <!--<td nowrap>
                            <button ng-show="item.isError" type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span> Upload
                            </button>

                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove(); checkExcelRemoval(item)">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                        </td> -->
                    </tr>
                </tbody>
            </table>

            <div>
                <p>
                    <div class="progress" style="">
                        <div ng-show="excelRight" class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </p>
                <div id="no_user" class="alert alert-warning " ng-show="queueMessage!==''">
                  <strong>Warning!: </strong>{{queueMessage}}
                </div>
                <div ng-show="excelRight">Added {{uploader.queue.length}} of {{files.length}} files from template</div>
                <button type="button" class="btn btn-success btn-s" ng-click="errorsExist = false; uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                </button>

                <button type="button" class="btn btn-danger btn-s" ng-click="errorsExist = false; uploader.clearQueue(); queueMessage = ''" ng-disabled="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove
                </button>

            </div>

        </div>

    </div>

</div>
