.container{
  /* Reset the container */
  width: 1024px;
  padding: 0px;
}

.container-table{
   max-height : 648px;

}


.row{
   width: 1024px;
}

.visualizations{
  height: 100%;
  display: table-row;
  padding-right: 10px;

}

.col-xs-3, .col-xs-9, .col-xs-2, .col-xs-12, .col-xs-1, .col-xs-8, .col-xs-7, .col-xs-5
{
   display: table-cell;
   margin-top: 10px;
}

.container-full{
   margin: 10 auto;
   width: 100%;
   height: 100%; /* For at least Firefox */
   min-height: 100%;
}

.excel-container.row{
   margin-bottom: 10px;
}

/* Spinner */
.container-spinner{
   color: white;
   background-color: #9c9c9c;
   opacity: 0.5;
   /*position: relative;*/
   height : 648px;
   margin-top: -648px;
   margin-right: auto;
   margin-left: auto;
}

.ai-circled{
   margin-top: 324px;
   margin-left: 50%;
}

/* Container table */
.container-table > .row{
   margin-left: 0px;
}
