<span class="btn btn-default btn-file">
   <div ng-show="excelRight" ng-click="removeExcelSheet()">
      <span class="glyphicon glyphicon-remove"></span>
      Remove Metadata File
   </div>
   <span ng-show="!excelRight" id="fileInputElement">
      <span class="glyphicon glyphicon-cloud-upload"></span>
         Upload Metadata File
      <input type="file" accept=".xlsx"  id="fileInput"/>
   </span>
</span>