<!--TODO: Move this to index.html for future new views??-->
<div class="container alert-container" ng-hide="errorsExist === false">

    <div id="no_user" class="alert alert-danger ">
      <strong>Warning!: </strong>{{infoMessage}}

       <!-- <span ng-show="!unauthorized"> -->
       <span ng-show="multipleErrors">
          <button style="float: right;" class="btn-xs btn-danger" ng-click="isCollapsed = !isCollapsed" >
            <span class="glyphicon"
               ng-class="{
                  'glyphicon-minus': !isCollapsed,
                  'glyphicon-plus': isCollapsed
               }"></span>
            </span>
          </button>

          <div collapse="isCollapsed">
            <div class="panel-body">
              <p ng-repeat="message in messages track by $index">
               {{message}}
              </p>
            </div>
          </div>
       </span>
    </div>

 </div>

 
<div id="batchFrame" class="container">
	<div class="col-xs-7">

		<div class="row">
		  <div class="col-xs-10">
			<h3  style="display:inline;">STEP 1:&nbsp&nbsp</h3>
			<!-- <div class="downloadExcel"> -->


				<!-- To make it work on firefox we need invisible element-->
				<a ng-hide=true id="excelLink"></a>
				<button id="downloadTemplate" type="button" class="btn btn-success" ng-click="downloadExcelFile()">
					<span class="glyphicon glyphicon-cloud-download"></span>  Download Metadata Template
				</button>
				<a href="{{excelURL}}">Template</a>
				<span tooltip-html-unsafe="{{excelInfoText}}" tooltip-placement="right"
				   id="excelInformation" class="glyphicon glyphicon-info-sign"
				></span>
			 </div>
		  <!-- </div> -->
		</div>

		<div class="row">
		  <div class="col-xs-12">
		  <h3  style="display:inline;">STEP 2:&nbsp&nbsp</h3><h4 style="color:grey; display:inline;">Fill out template</h4>
		  </div>
		</div>
		<div class="row">
		  <div class="col-xs-12">
		  <h3  style="display:inline;">STEP 3:&nbsp&nbsp</h3>
		  <span file id="excel" loading="spinner"></span> <!--Excel file directive -->
		  <span ng-show="excelRight && uploader.queue.length == 0" id="tempUplCorrect" class="label label-success">Excel template uploaded correctly</span>
		  </div>
		</div>

		<div class="row">
		  <div class="col-xs-12">
		  <h3  style="display:inline;">STEP 4:&nbsp&nbsp</h3>
		  <span class="btn btn-default btn-file"> <!-- Wrap input button -->
			<span class="glyphicon glyphicon-floppy-open"></span>
			Select Files
			<input ng-click="messages = []; infoMessage = ''; errorsExist = false;" id="filesUploader" type="file" nv-file-select="" uploader="uploader" multiple
			  ng-disabled="!excelRight"/>
		  </span>
		  <span ng-show="!excelRight" tooltip="First upload the excel file" tooltip-placement="right"
			class="glyphicon glyphicon-exclamation-sign">
		  </span>
		  </div>
		</div>

		<div class="row">
		  <div class="col-xs-12">
		  <h3  style="display:inline;">STEP 5:&nbsp&nbsp</h3>
		  <button type="button" id="submitFiles" class="btn btn-success btn-s" ng-click="checkAndSubmitFiles()" ng-disabled="!excelRight">
			  <span class="glyphicon glyphicon-upload"></span> Submit
		  </button>
		  </div>
		</div>


		<!-- <div class="row">
		  <div class="col-xs-12">



		  </div>
		</div> -->

		<div class="row">
			<div class="col-xs-12">

				<h3>Progress Overview</h3>
				<!-- <p>Queue length: {{ uploader.queue.length }}</p> -->

				<table class="table">
					<thead>
						<tr>
							<th width="50%">Name</th>
							<th ng-show="uploader.isHTML5">Size</th>
							<th ng-show="uploader.isHTML5">Progress</th>
							<th>Status</th>
							<!-- <th>Actions</th> -->
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in uploader.queue">
							<td><strong>{{ item.file.name }}</strong></td>
							<td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
							<td ng-show="uploader.isHTML5">
								<div class="progress" style="margin-bottom: 0;">
									<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
								</div>
							</td>
							<td class="text-center">
								<span ng-show="item.isUploading"><i class="glyphicon glyphicon-upload"></i></span>
								<span ng-show="item.isSuccess" id="itemSuccesfullyUploaded" ><i class="glyphicon glyphicon-ok"></i></span>
								<span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
								<span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
							</td>
							 <td nowrap>
								<button ng-show="item.isError" type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
									<span class="glyphicon glyphicon-upload"></span> Upload
								</button>
								<!--
								<button type="button" class="btn btn-danger btn-xs" ng-click="item.remove(); checkExcelRemoval(item)">
									<span class="glyphicon glyphicon-trash"></span> Remove
								</button>
							</td> -->
						</tr>
					</tbody>
				</table>

				<div>
					<p>
						<div class="progress" style="">
							<div ng-show="excelRight" class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
						</div>
					</p>

					<div ng-show="excelRight">Added {{uploader.queue.length}} of {{files.length}} files from template</div>
					<button type="button" class="btn btn-danger btn-s" ng-click="errorsExist = false; uploader.clearQueue()" ng-disabled="!uploader.queue.length">
						<span class="glyphicon glyphicon-trash"></span> Remove all
					</button>


				</div>

			</div>

		</div>
	</div>
	<div class="col-xs-4">
		<div class="row">
			<div class="panel panel-success"  style="max-width: 400px; max-height: 262px; margin-top:10px;">
			  <div class="panel-heading">
				<h3 class="panel-title">Supported browsers</h3>
			  </div>
			  <div class="panel-body">
          <table>
            <tr>
              <th Width="80px">
              </th>
              <th>
                <img src="images/OS/WindowsXP.png" width="40px"/>
              </th>
              <th>
                <img src="images/OS/WindowsVista.png" width="40px"/>
              </th>
              <th>
                <img src="images/OS/Windows7.png" width="40px"/>
              </th>
              <th>
                <img src="images/OS/Windows8.png" width="40px"/>
              </th>
              <th>
                <img src="images/OS/OSXYosemite.png" width="40px"/>
              </th>
              <th>
                <img src="images/OS/Ubuntu.png" width="40px"/>
              </th>
            </tr>
            <tr>
              <td>
                <img src="images/browser_badges/safari.png" width="20px"/> &#8805 V 8.0
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td align="center">
                &#10004
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <img src="images/browser_badges/explorer.png" width="20px"/> V 10.0
              </td>
              <td>
              </td>
              <td>
              </td>
              <td align="center">
                &#10004
              </td>
              <td align="center">
                &#10004
              </td>
              <td>
              </td>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <img src="images/browser_badges/explorer.png" width="20px"/> edge
              </td>
              <td>
              </td>
              <td>
              </td>
              <td align="center">
                &#10004
              </td>
              <td align="center">
                &#10004
              </td>
              <td>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <img src="images/browser_badges/firefox.png" width="20px"/> &#8805 V 36.0
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td align="center">
                &#10004
              </td>
              <td align="center">
                &#10004
              </td>
              <td align="center">
                &#10004
              </td>
            </tr>
            <tr>
              <td>
                <img src="images/browser_badges/chrome.png" width="20px"/> &#8805 V 41.0
              </td>
              <td align="center">
                &#10004
              </td>
              <td align="center">
                &#10004
              </td>
              <td align="center">
                &#10004
              </td>
              <td align="center">
                &#10004
              </td>
              <td align="center">
                &#10004
              <td align="center">
                &#10004
              </td>
              </td>
            </tr>
			  </div>
			</div>
		</div>
	</div>

</div>


